footer {
  width: 100%;
  border-top: 1px solid #bbb;
  .inner {
    width: 1180px;
    margin: 0 auto;
    padding: 50px;
    p {
      font-size: 12px;
      color: #999;
      text-align: center;
    }
  }
}
