.content {
  figure {
    width: 100%;
    height: 300px;
    background: gray;
  }
  > .inner {
    position: relative;
    width: 1180px;
    margin: 100px auto;
    min-height: 400px;
    transition: 1s;
    transform: translateY(100px);
    opacity: 0;
  }
  &.on {
    > .inner {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
// tablet
@media screen and (max-width: $tablet) {
  .content {
    figure {
      height: 200px;
    }
    > .inner {
      width: 100%;
      margin: 80px auto;
      padding: 0px 30px;
    }
  }
}
// mobile
@media screen and (max-width: $mp) {
  .content {
    figure {
      height: 150px;
    }
  }
}
